.resume-effect {
  background: linear-gradient(
      180deg,
      #c985ff -7.54%,
      rgba(183, 176, 255, 0.494792) 20.78%,
      rgba(224, 190, 251, 0) 50%
    ),
    url(../styles/light_effects.svg);
  background-position: top;
  background-size: cover;
}

.dark .resume-effect {
  background: linear-gradient(
      180deg,
      #4d216e -08.54%,
      #4d216e 0.54%,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 1) 50%,
      rgba(12, 4, 19, 0.557) 100%
    ),
    url(../styles/light_effects.svg);
  background-position: top;
  background-size: cover;
}
.flares-effect {
  background: url(./flares.svg);
  background-size: cover;
  background-position: top center;
}
.stars-effect {
  background: url(./Stars.svg);
  background-size: cover;
  background-position: top center;
}

.logo-shadow {
  box-shadow: 0px 10px 15px 0px #00000014;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
